.app-title {
  position: absolute;
  margin: auto 0 0 80px;
}

.search-location {
  text-align: center;
  margin: 60px;
  /* padding: 5px; */
}

.submit-button {
  position: absolute;
  cursor: pointer;
  left: 600px;
  top: 66px;
  height: 40px;
  width: 100px;
  background-color: rgb(0, 157, 0);
  border: rgb(255, 255, 255);
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.35s, opacity 0.5s;
  box-shadow: 3px 3px 5px gray;
}

.submit-button:hover {
  background-color: rgb(2, 192, 255);
  opacity: 0.6; /*fade out 0 - 1*/
  /* color: rgb(0, 157, 0); */
}

.submit-button:active {
  background-color: rgb(234, 97, 0);
}

.weather-container {
  max-width: 800px;
  height: 600px;
  margin: 0px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  border-radius: 6%;
}

.fahrenheit {
  position: absolute;
  top: 10px;
  right: 30px;
}

.payment-error {
  color: chocolate;
  font-weight: 700;
  font-size: 30px;
  margin: 200px auto;
}

.location {

}